body, html {
    color:black;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    background: lightseagreen;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
