body, html {
    color:black;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    background: lightseagreen;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#loading {
    border: 16px solid black; 
    border-top: 16px solid crimson; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
